<div id="show">
  <h1>Search Results</h1>
  <p class="small"><%= link_to raw("Search Again &raquo;"), :jobs %></p>
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Blastn</a></li>
    </ul>

    <div id="tabs-1">
      <h2>Blastn</h2>
      <div id="blastn-filter" class="filter">
        <button type="button" id="blastn-top-hits">
          top hit(s)
        </button>
        <button type="button" id="blastn-top-hit-ref-seq">
          top hit(s) per reference sequence
        </button>
        <button type="button" id="blastn-top-hit-ref">
          top hit(s) per reference
        </button>
        <button type="button" id="blastn-expand-tree">
          expand tree
        </button>
        <input type="text" name="blastn-eval" id="blastn-eval" value="" placeholder="Evalue filter" />
        <button type="button" id="blastn-eval-button">
          filter
        </button>
      </div>
      <div id="blastn-results"></div>
      <div id="blastn-searching">
        Searching... <%= image_tag "quorum/loading.gif" %>
      </div>
    </div>

  </div>
  <div id="detailed_report_dialog" title="Report Details"></div>
</div>

<%= render :partial => "quorum/jobs/templates/blast_detailed_report_template" %>

<script type="text/javascript" src="/assets/d3.v2.js"></script>
<script type="text/javascript" src="/assets/lss.js"></script>
<script type="text/javascript">
  $(function() {
    QUORUM.pollResults(<%= @jobs.id %>, LSS.collectResults, LSS);
  });
</script>
