<%# Detailed Report Template %>
<script type="text/template" id="detailed_report_template">
  <h3>Query Accession {{= query }}</h3>
  {{ _.each(data, function(v) { }}
    {{ var id        = v.id }}
    {{ var qseq      = v.qseq }}
    {{ var midline   = v.midline }}
    {{ var hseq      = v.hseq }}
    {{ var q_from    = v.query_from }}
    {{ var q_to      = v.query_to }}
    {{ var h_from    = v.hit_from }}
    {{ var h_to      = v.hit_to }}
    {{ var qstrand   = v.query_frame }}
    {{ var hstrand   = v.hit_frame }}
    {{ var hsp_group = v.hsp_group }}
    <div id="{{= id }}">
      <p class="small">{{= QUORUM.displayHspLinks(id, hsp_group, data) }}</p>
      <p class="small">Hit Accession: {{= v.hit_display_id }}</p>
      <p class="small">Hit Description: {{= v.hit_def }}</p>
      <table class="report_details">
        <tr>
          <td>E-value: {{= QUORUM.formatEvalue(v.evalue) }}</td>
          <td>Bit Score: {{= v.bit_score }}</td>
          <td></td>
        </tr>
        <tr>
          <td>Alignment Length: {{= v.align_len }}</td>
          <td>Qstrand / Hstrand: {{= QUORUM.formatStrand(qstrand, hstrand) }}</td>
          <td></td>
        </tr>
        <tr>
          <td>Query Length: {{= v.query_len }}</td>
          <td>Query From: {{= v.query_from }}</td>
          <td>Query To: {{= v.query_to }}</td>
        </tr>
        <tr>
          <td>Hit Length: {{= v.hit_len }}</td>
          <td>Hit From: {{= v.hit_from }}</td>
          <td>Hit To: {{= v.hit_to }}</td>
        </tr>
      </table>
      <p class="small">
        <a id="download_sequence_{{= id }}"
          onclick="QUORUM.downloadSequence(<%= @jobs.id %>, {{= id }}, '{{= algo }}', this)">
          Download Sequence
        </a>
      </p>
      {{= QUORUM.formatSequenceReport(qseq, midline, hseq, q_from, q_to, h_from, h_to, algo) }}
    </div>
    <hr />
    {{ }); }}
</script>

