<%# Detailed Report Template %>
<script type="text/template" id="detailed_report_template">
  <h3>Query Accession {{= query }}</h3>
  {{ var linkouts }}
  {{ _.each(data, function(v) { }}
    {{ var hit = v.hit_display_id.split(":"); }}
    {{ _.extend(v, { "ref": hit[0], "ref_id": hit[1] }); }}
    <div id="{{= v.id }}">
      <p class="small">{{= QUORUM.displayHspLinks(v.id, v.hsp_group, data) }}</p>
      <p class="small">Hit Accession: {{= v.hit_display_id }}</p>
      <p class="small">Hit Description: {{= v.hit_def }}</p>
      <table class="report_details">
        <tr>
          <td>E-value: {{= parseFloat(v.evalue).toPrecision(3) }}</td>
          <td>Bit Score: {{= v.bit_score }}</td>
          <td>Percent Identity: {{= parseFloat(v.pct_identity).toPrecision(3) }}</td>
        </tr>
        <tr>
          <td>Alignment Length: {{= v.align_len }}</td>
          <td>Qstrand / Hstrand: {{= QUORUM.formatStrand(v.query_frame, v.hit_frame) }}</td>
          <td></td>
        </tr>
        <tr>
          <td>Query Length: {{= v.query_len }}</td>
          <td>Query From: {{= v.query_from }}</td>
          <td>Query To: {{= v.query_to }}</td>
        </tr>
        <tr>
          <td>Hit Length: {{= v.hit_len }}</td>
          <td>Hit From: {{= v.hit_from }}</td>
          <td>Hit To: {{= v.hit_to }}</td>
        </tr>
      </table>
      <p class="small">
        {{ linkouts = LSS.formatLinkouts(v) }}
        {{ if (!_.isEmpty(linkouts)) { }}
          Linkouts:<br />
          {{ _.each(linkouts, function(l) { }}
            <a href="{{= l.url }}" target="_blank">{{= l.name }}</a><br />
          {{ }); }}
        {{ } }}
      </p>
      <p class="small">
        <a id="download_sequence_{{= v.id }}"
          onclick="QUORUM.downloadSequence({{= v.id }}, '{{= algo }}', this)">
          Download Sequence
        </a>
      </p>
      {{= QUORUM.formatSequenceReport(v.qseq, v.midline, v.hseq, v.query_from, v.query_to, v.hit_from, v.hit_to, algo) }}
    </div>
    <hr />
    {{ }); }}
</script>

