.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

text.pointer:hover {
  cursor: pointer;
}

text.top-hit {
  fill: #ff0000;
}

.filter{
  float: right;
  clear: both;
}

.selectable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.selectable .ui-selecting {
  background: #FECA40;
}

.selectable .ui-selected {
  background: #F39814;
  color: white;
}

.selectable li:hover {
  cursor: pointer;
}

.ui-menu {
  position: absolute;
  width: auto;
}

.ui-menu-item a {
  font-weight: normal;
}
